@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-photosnap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 100;
}

.header-container img {
    cursor: pointer;
}

.menu-sections {
    width: 100%;
    position: fixed;
    top: 72px;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: none;
}

.menu-sections.active {
    display: flex;
}

.close {
    display: none;
}

.close.active {
    display: flex;
}

.menu-sections .links {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0 20px 0;
    gap: 35px;
    border-bottom: 2px solid rgb(238, 238, 238);
}

.links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2.5px;
    color: #000000;
    display: block;
}

.get-invite {
    width: 80%;
    height: 48px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2.5px;
    cursor: pointer;
}

.group-14 {
    width: 100%;
}

.group-4 {
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bitmap-image .create-share-tablet {
    display: none;
}


.bitmap-image {
    width: 100%;
}

.bitmap-image img {
    width: 100%;
}

.group-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 33px;
    gap: 30px;
}

.group-content .content {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.33px;
    color: #FFFFFF;
}

.group-content .platf-content {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 25px;
    opacity: 60%;
}

.invite-four {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.invite-content img {
    cursor: pointer;
}

.invite p {
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
}

.invite img {
    margin-left: 15px;
}

.group-5 {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-5 .five-image {
    width: 100%;
}

.five-image img {
    width: 100%;
}

.five-image .beautiful-stories-tablet {
    display: none;
}


.group-five {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 33px;
    gap: 30px;
}

.group-five h2 {
    width: 100%;
    font-size: 28px;
    padding: 0 80px 0 0;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.33px;
    color: #000000;
}

.group-five p {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 25px;
    opacity: 70%;
}

.invite-five {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.invite-five p {
    color: #000000;
    font-weight: 700;
    opacity: 100%;
    line-height: 100%;
    letter-spacing: 2px;
    font-size: 12px;
}

.group-fourteen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 80px 33px;
    gap: 30px;
}

.group-fourteen h2 {
    width: 100%;
    font-size: 28px;
    padding: 0 20px 0 0;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.33px;
    color: #000000;
}

.group-fourteen .fourteen-image {
    width: 100%;
}

.fourteen-image img {
    width: 100%;
}

.fourteen-image .designed-everyone-tablet {
    display: none;
}

.group-fourteen #fourteen-design {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 25px;
    opacity: 70%;
}

.invite-fourteen {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}



.invite-fourteen p {
    color: #000000;
    font-weight: 700;
    opacity: 100%;
    line-height: 100%;
    letter-spacing: 2px;
    font-size: 12px;
}

.home-photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}


.container-1 .mountains {
    width: 100%;
    display: block;
}

.container {
    width: 100%;
    position: relative;
}




.photos {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.description {
    width: 80%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    gap: 30px;
}

.name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.name h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    color: #fff;
}

.name p {
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.read-story {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-story p {
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
}

.read-story img {
    cursor: pointer;
}

.container-19 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 33px;
    gap: 80px;
}

.container-19 .responsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.responsive .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.info h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
}

.info p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    opacity: 60%;
}


.footer-container {
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    gap: 100px;
}

.container-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    transition: .5s ease;
}

.socials #facebook:hover {
    background: linear-gradient(225deg, #63AFDB 0%, #6028F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials #youtube:hover {
    background: linear-gradient(45deg, #D3205A 0%, #FF5A5A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials #twitter:hover {
    background: linear-gradient(225deg, #65FFEB 0%, #27718A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials #pinterest:hover {
    background: linear-gradient(225deg, #F6C683 0%, #DE3838 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials #instagram:hover {
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.links-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.links-footer a {
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
}

.links-footer a:hover {
    color: #c2c2c2;
}

.container-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-invite {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.footer-invite p:hover {
    text-decoration: underline;
}

.copyright p {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #cfcfcf;

}



@media (min-width:768px) {
    .group-4 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .bitmap-image img,
    .five-image img {
        display: block;
    }

    .group-4 .create-share-tablet {
        display: block;
    }

    .group-4 .create-share-mobile {
        display: none;
    }

    .bitmap-image {
        width: 30%;
    }

    .group-content {
        width: 70%;
    }

    .group-content #four-content {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        text-transform: uppercase;
    }

    .group-content .platf-content {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;

    }


    .group-5 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .group-5 .five-image {
        width: 30%;
    }

    .group-5 .group-five {
        width: 70%;
    }

    .group-5 .beautiful-stories-mobile {
        display: none;
    }

    .five-image .beautiful-stories-tablet {
        display: block;
    }

    .group-five #five-content {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        text-transform: uppercase;
    }

    .group-five .design-content {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
    }


    .group-14 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .group-14 .fourteen-image {
        width: 30%;
    }

    .group-fourteen {
        width: 70%;
    }

    .group-14 .designed-everyone-mobile {
        display: none;
    }

    .group-14 .designed-everyone-tablet {
        display: block;
    }

    .group-fourteen #fourteen-content {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.17px;
        text-transform: uppercase;
    }

    .group-fourteen .photosnap-content {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
    }

    .home-photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container-19 .info p {
        padding: 0 10%;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px 50px;
    }

    .container-one {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        text-align: start;
    }

    .social-links {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: start;
        text-align: left;
        gap: 100px;
    }

    .socials {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }


    .links-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .container-two {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        gap: 170px;
    }

    .footer-invite {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: end;
        gap: 30px;
        cursor: pointer;
    }

    .copyright p {
        margin-bottom: 20px;
    }

}